<?xml version="1.0"?>
<launch>
    
    <!-- ADI 3D ToF Image Stitching -->

    <!-- General arguments -->

    <!--Camera Prefix -->
    <arg name="ns_prefix_stitch" default="adi_3dtof_image_stitching" />
    <arg name="ns_prefix_cam1" default="cam1" />
    <arg name="ns_prefix_cam2" default="cam2" />
    <arg name="ns_prefix_cam3" default="cam3" />
    <arg name="ns_prefix_cam4" default="cam4" />
    <arg name="arg_camera_prefixes" default="[$(arg ns_prefix_cam1),$(arg ns_prefix_cam2),$(arg ns_prefix_cam3),$(arg ns_prefix_cam4)]"/>

    <!-- Arguments on TF-related info  -->
    <!-- Camera device frame name -->
    <arg name="stitched_cam_base_frame_optical" default="stitch_frame_link_optical" />
    <!-- Camera optical frame name -->
    <arg name="stitched_cam_base_frame" default="stitch_frame_link" />
    <!-- map
          ^
          |
      camera_device
          ^
          |
      camera_optical
    -->
    <arg name="stitched_cam_parent_frame" value="map"/>

    <!-- use "raw" for uncompressed subscription
       "compressed" for compressed image subscription
       "compressedDepth" for compressed depth image subscription -->
    <arg name="compression_parameter" default="compressedDepth" />
    <!-- Output mode : 0-No file out, 1-file output -->
    <arg name="arg_output_mode"  default="0"/>
    <!-- output filename : Applicable only if the output mode is 1 -->
    <arg name="arg_out_file_name" default="no filename"  />

    <group ns="$(arg ns_prefix_stitch)">
      <node name="adi_3dtof_image_stitching_node" pkg="adi_3dtof_image_stitching" type="adi_3dtof_image_stitching_node" output="screen">
        <rosparam param="param_camera_prefixes" subst_value="True">$(arg arg_camera_prefixes)</rosparam> 
        <param name="param_camera_link" value="$(arg stitched_cam_base_frame)"/>
         <param name="image_transport" value="$(arg compression_parameter)" />
        <param name="param_output_mode" value="$(arg arg_output_mode)"/>
        <param name="param_out_file_name" value="$(arg arg_out_file_name)"/>
      </node>

    <!-- Transform for Camera Base frame and MAP -->
    <!-- The Sticthed frame is assumed to be same as MAP itself -->
      <node pkg="tf2_ros" type="static_transform_publisher" name="$(eval arg('stitched_cam_base_frame') + '_tf')" 
        args="0 0 0 0 0 0 $(arg stitched_cam_parent_frame) $(arg stitched_cam_base_frame)" />
    </group>

    <!-- Launch RViz-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find adi_3dtof_image_stitching)/rviz/adi_3dtof_image_stitching.rviz" required="true">
    </node>

</launch>
