<?xml version="1.0"?>
<launch>

    <!-- ADI 3D ToF Image Stitching -->

    <!-- Image Stitch demo with four sensors, the sensors are placed on the same plane(Horizontal setup). -->

    <!--Start Image Stitching Node-->
    <include file="$(find adi_3dtof_image_stitching)/launch/adi_3dtof_image_stitching_host_only.launch"/>

    <!--Start Sensor Nodes-->
    <include file="$(find adi_3dtof_image_stitching)/launch/adi_3dtof_adtf31xx_cam1.launch"/>
    <include file="$(find adi_3dtof_image_stitching)/launch/adi_3dtof_adtf31xx_cam2.launch"/>
    <include file="$(find adi_3dtof_image_stitching)/launch/adi_3dtof_adtf31xx_cam3.launch"/>
    <include file="$(find adi_3dtof_image_stitching)/launch/adi_3dtof_adtf31xx_cam4.launch"/>

</launch>
